snippet cl "console.log"

snippet cfun
	const ${1:name} = (${2}) => {
		${0:${VISUAL}}
	}

snippet fun "function"
	function ${1:name}(${2}) {
		${0:${VISUAL}}
	}

snippet switch
	switch (${1:expression}) {
		case '${3:case}':
			${4}
			break;
		${0}
		default:
			${2}
	}

snippet case "case 'xyz': ... break"
	case '${1:case}':
		${0:${VISUAL}}
		break;

snippet try "try { ... } catch(e) { ... }"
	try {
		${0:${VISUAL}}
	} catch (${1:e}) {
		${2:/* handle error */}
	}
